@if (IsSelected)
{
    <button type="button" class="@AreaClass" @onclick="HandleClick">
        @ChildContent
    </button>
}
else
{
    <input type="radio" name="font-library" class="btn-check" id="@Id" autocomplete="off" checked="@IsSelected" @onchange="HandleChange" />
    <label class="@AreaClass" for="@Id">
        @ChildContent
    </label>
}

