@page "/"

<PageTitle>Blazicons</PageTitle>

<main class="d-flex flex-nowrap align-items-stretch">
    <div class="p-3 flex-shrink-0 text-light bg-dark border-end border-secondary" style="overflow-y: auto;">
        <EditForm Model="Search">
            <div class="mb-3">
                <input type="search" placeholder="Search..." id="SearchQuery" class="form-control" @bind-value="@Search.Query" @bind-value:event="oninput" />
            </div>
        </EditForm>
        <CascadingValue Value="this">
            <div class="btn-group-vertical w-100" role="group">
                <FontLibrarySelection IsSelected="true"><Blazicon Svg="MdiIcon.FilterOff" /> All Icon Libraries</FontLibrarySelection>
                <FontLibrarySelection Name="MdiIcon"><Blazicon Svg="MdiIcon.VectorSquare" /> Material Design Icons</FontLibrarySelection>
                <FontLibrarySelection Name="FontAwesomeRegularIcon"><Blazicon Svg="FontAwesomeRegularIcon.FontAwesome" /> Font Awesome - Regular</FontLibrarySelection>
                <FontLibrarySelection Name="FontAwesomeSolidIcon"><Blazicon Svg="FontAwesomeSolidIcon.FontAwesome" /> Font Awesome - Solid</FontLibrarySelection>
                <FontLibrarySelection Name="BootstrapIcon"><Blazicon Svg="BootstrapIcon.BootstrapFill" /> Bootstrap</FontLibrarySelection>
                <FontLibrarySelection Name="GoogleMaterialOutlinedIcon"><Blazicon Svg="GoogleMaterialOutlinedIcon.DesignServices" /> Google Material - Outlined</FontLibrarySelection>
                <FontLibrarySelection Name="GoogleMaterialFilledIcon"><Blazicon Svg="GoogleMaterialFilledIcon.DesignServices" /> Google Material - Filled</FontLibrarySelection>
                <FontLibrarySelection Name="GoogleMaterialRoundIcon"><Blazicon Svg="GoogleMaterialRoundIcon.DesignServices" /> Google Material - Round</FontLibrarySelection>
                <FontLibrarySelection Name="GoogleMaterialSharpIcon"><Blazicon Svg="GoogleMaterialSharpIcon.DesignServices" /> Google Material - Sharp</FontLibrarySelection>
                <FontLibrarySelection Name="GoogleMaterialTwoToneIcon"><Blazicon Svg="GoogleMaterialTwoToneIcon.DesignServices" /> Google Material - Two Tone</FontLibrarySelection>
                <FontLibrarySelection Name="Ionicon"><Blazicon Svg="Ionicon.LogoIonic" /> Ionicons</FontLibrarySelection>
                <FontLibrarySelection Name="FluentUiIcon"><Blazicon Svg="FluentUiIcon.Fluent" /> Fluent UI</FontLibrarySelection>
                <FontLibrarySelection Name="FluentUiFilledIcon"><Blazicon Svg="FluentUiFilledIcon.Fluent" /> Fluent UI - Filled</FontLibrarySelection>
            </div>
        </CascadingValue>
    </div>
    <div class="flex-fill container-fluid text-light bg-dark" style="overflow-y: auto;">
        <div class="row icons-area pt-3">
            @if(!FilteredIcons.Any())
            {
                <div>--No icons found--</div>
            }

            <Virtualize Items="FilteredIcons" Context="icon" OverscanCount="144">
                <button class="icon-tile col-lg-1 col-md-2 col-sm-3 mb-3 text-center text-light" title="@icon.Code" @onclick="() => ShowIconDetails(icon)">

                    <div style="font-size: 300%; line-height: 1;"><Blazicon Svg="icon.Icon"></Blazicon></div>
                    <div class="small text-truncate icon-name">@icon.Name</div>
                </button>
            </Virtualize>
        </div>
    </div>
</main>


@if (IsShowingModal)
{
    <div id="active-icon-modal" class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header bg-primary text-white rounded-0">
                    @ActiveIconDisplayName
                    <button type="button" class="btn-close btn-close-white" aria-label="Close" @onclick="HideModal"></button>
                </div>
                <div class="modal-body bg-dark text-light">
                    <div class="mb-3">
                        <span style="line-height: 1; font-size: 300%;">
                            <Blazicon Svg='ActiveIcon.Icon'></Blazicon>
                        </span>
                        @ActiveIcon.Code <a href="@ActiveIconCopyNameLink" title="Copy Blazicon Name"><Blazicon Svg="MdiIcon.ContentCopy"></Blazicon></a>
                    </div>

                    <div class="mb-3">
                        <strong>Package</strong> <a href="@ActiveIconCopyPackageLink" title="Copy Package Name"><Blazicon Svg="MdiIcon.ContentCopy"></Blazicon></a>
                        <div>
                            <a target="_blank" href="@ActiveIconNugetAddress"><img alt="@ActiveIcon.Assembly" title="@ActiveIcon.Assembly" src="@ActiveIcon.BadgeLink"></a>
                        </div>
                    </div>

                    <strong>Example</strong> <a href="@ActiveIconCopyExampleLink" title="Copy Example"><Blazicon Svg="MdiIcon.ContentCopy"></Blazicon></a>
                    <div>
                        <code>@ActiveIconExample</code>
                    </div>
                </div>
                <div class="modal-footer bg-dark rounded-0">
                    <button type="button" class="btn btn-secondary" @onclick="HideModal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <a class="modal-backdrop fade show" style="display: block;"></a>
}




